@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root
{
    --negro: #07020D;
    --gris: #7F7979;
    --azul: #5DB7DE;
    --verde: #88D18A;
    --blanco: #F9FAF0;
    --rojo: 'rojo';

}
*
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #005F60;
    color: white;
}

.title
{
    padding: 15px;
    font-size: larger;
}

.container
{   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-radius: 1px;
    box-shadow: 0px 6px  7px black;
    background: #F78104;
    min-width: 400px;
    min-height: 600px;
    padding:0px 10px;
}
.info
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 400px;
}

.city{
    
    font-size: 40px;
}

.icon
{
    margin: 0;
    font-size: 200px;
    color: #249EA0;
} 

.temp{
    font-size: 100px;

}
